# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


## ignore the cordova "build" folders.
cordova/www
cordova/platforms/ios/Navidar/
cordova/platforms/ios/www/
cordova/platforms/ios/openssl-xcode/
cordova/platforms/ios/build/
cordova/platforms/ios/CordovaLib/build/

cordova/platforms/android/out/
cordova/platforms/android/assets/www/
cordova/platforms/android/CordovaLib/ant-build/
cordova/platforms/android/CordovaLib/ant-gen/
cordova/platforms/android/CordovaLib/bin/
cordova/platforms/android/CordovaLib/gen/
cordova/platforms/android/ant-build/
cordova/platforms/android/bin/
cordova/platforms/android/gen/
cordova/platforms/android/ant-gen/
cordova/platforms/android/CordovaLib/local.properties
cordova/platforms/android/local.properties

## ignore the xcode user specific workspace folder
cordova/platforms/ios/Navidar.xcodeproj/project.xcworkspace/

# touch
sencha/build
sencha/.sencha_backup
sencha/resources/css/app.css
sencha/bootstrap.js
sencha/bootstrap.json
sencha/.idea/

# Xcode
xcuserdata/
