.x-tabbar {
  display : -webkit-box;
  .x-tab {
    -webkit-box-flex : 1;
    box-flex         : 1;
    background-color : $red;
    color            : $white;
    padding          : 8px 5px;
    border           : none;
    border-top       : 4px solid $red;
    font-size        : 13px;
    &.x-tab-active {
      border-top : 4px solid $white;
    }
    .label {
      margin-left: 3px;
    }
  }
}