.start-view {
  background-color: $white;
  .start-view-container {
    padding: 30% 5%;
    height: auto;
    .img-container {
      text-align: center;
    }
    .login-container {
      margin: 15px 0;
      background-color: $red;
      color: $white;
      padding: 10px;
      i {
        vertical-align: middle;
        font-size: 25px;
      }
      span {
        font-size: 18px;
        vertical-align: middle;
        margin-left: 5px;
        font-weight: bold;
      }
    }
  }
}